.team-info{
  background-color: darkorange;
  border-radius: 10px;
  display:flex;
  height: 250px;
  margin-top: 20px;
  
}

.team-bullets{
  margin: 10px;
  padding: 20px;

}
.team-bullets img{
  width: 20px;
  
}
.team-image img{
  width: 250px;
  margin-left: 500px;
  margin-top: 50px;  
}

.social-container{
  font-size: 48px;
  text-align: center;
}

.team-description{
  margin-top: 10px;
  min-height: 450px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: justify;
  font-size: large;
}
.team-container{
    border-radius: 10px;
    background-image: linear-gradient(white, cornflowerblue);
    min-height: 100vh;
    position: relative;
    
  }
  
  .main-container{
    background-image: linear-gradient(red, yellow);
    min-height: 100vh;
  }
  
  .bg-header{
    border-radius: 10px;
    height: 250px;
  }
  
  .bg-header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-repeat: no-repeat;
    overflow: hidden;
    
  }
  
  .bg-header img{
    padding-top: 20px;
    width: 200px;
  }