.team-info{
  background-color: #4267B2;
  border-radius: 10px;
  display:flex;
  /* height: 250px; */
  margin-top: 20px;
  
}

.space-div{
  height: 50px;
}
.team-bullets{
  margin: 10px;
  padding: 20px;
  color: aliceblue;

}
.team-bullets img{
  width: 20px;
  
}
.team-image img{
  width: 350px;
  margin-left: 500px;
  margin-top: 25px;  
}

.social-container{
  font-size: 48px;
  text-align: center;
}

.team-description{
  margin-top: 10px;
  min-height: 450px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: justify;
  font-size: large;
}
.team-container{
    border-radius: 10px;
    background-color:white;
    min-height: 100vh;
    /* position: relative; */
    margin-top: -20px;
    
  }
  
  .main-container{
    background-image: linear-gradient(red, yellow);
    min-height: 100vh;
  }
  
  .bg-header{
    border-radius: 10px;
    height: 250px;
  }
  
  .bg-header img{
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-repeat: no-repeat;
    overflow: hidden;
    
  }
  
  .bg-header img{
    padding-top: 20px;
    width: 200px;
  }

  .teambadge-container img{
    margin-left: 15px;
    padding-bottom: 20px;
    
  }

  .teambadge-container{
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    border-radius: 10px;
    
  }

  @media screen and (max-width: 576px) {

    .team-info {
      display: block;
    }

    .team-image img{
      margin-left: 10px;
      padding-bottom: 20px;  
    }

    
  }