.myCard {
    margin: 0px;
    padding: 10px;
    background-color: cornflowerblue;
}

.my-Card-body {
    background-color: #fff;
    padding: 20px 5px 0px 5px;
}
.myRow {
    margin: 10px;
    padding: 10px;
}

.my-card-body { 
    text-align: center;
}

.my-card-title {
    font-size: 25px;
    font-weight: bold;
}

.my-card-text {
    font-size: 20px;
}

.my-btn {
    font-size: 20px;
    width: 150px;
}

@media screen and (max-width: 576px) {

    .myCard {
      display: block;
      margin: 0px;
      padding: 5px;
      background-color: white;
      }

    .my-card-body{
        text-align: left;
        margin-left: -10px;
        font-size: 10px;
    }
    
    .my-btn{
        font-size: 15px;
        width: 75px;
    }
  
    .my-card-title {
        font-size: 15px;
        line-height: 16px;
    }

    .my-card-text {
        font-size: 15px;
        line-height: 16px;
    }

    .my-Card-body {
        background-color: rgb(255, 255, 255);
        font-size: 5px;
    }


}