.component-container{
  background-color: cornflowerblue;
  border-radius: 10px;
}

.main-container{
  background-color: crimson;
}
  
.bg-header{
  border-radius: 10px;
  height: 250px;
}
  
.bg-header-1 img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 576px) {

  .myRow {
    display: block;
   
  }

  .myRow {
    margin: 5px;
    padding: 5px;
    
}
}